<!DOCTYPE HTML>
<html ng-app="Angello">
<head>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body>
  <div ng-controller="MainCtrl as main">
    <div class="col-md-4">
      <h2>Stories</h2>
      <div class="callout"
        ng-repeat="story in main.stories"
        ng-click="main.setCurrentStory(story)">
        <h4>{{story.title}}</h4>
        <p>{{story.description}}</p>
      </div>
    </div>
  </div>
</body>
